DATABASE_URL="postgresql://login:password@localhost:5432/db"
BOT_TOKEN=

REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=
# URL фронтенда
# tunnel.js автоматически обновляет этот параметр
# Можете не указывать сами, если используете скрипт tunnel.js
FRONTEND_URL=
